
/*@font-face {
  font-family: "davidregular";
  font-weight: normal;
  src: url('david.otf') format('opentype'),
       url('david-webfont.woff2') format('woff2'),
       url('david-webfont.woff') format('woff');
  font-display: swap; } */

/* Fonts import */
@font-face {
    font-family: 'David';
    src: url("fonts/david.otf") format("opentype");
}

@font-face {
    font-family: 'Estrella';
    src: url("fonts/Estrella-Early.otf") format("opentype");
}

/* palette */
.color-palette-white {
    --color-palette-gray-900: #f996c4;
    --color-palette-gray-800: #fff;
    --color-palette-gray-800-transparent: hsla(0,0%,100%,0);
    --color-palette-gray-700: #000000;
    --color-palette-gray-700-transparent: rgba(232,233,236,0);
    --color-palette-gray-600: #969999;
    --color-palette-gray-500: #76797d;
    --color-palette-gray-400: #f996c4;
    --color-palette-gray-300: #000000;
    --color-palette-gray-200: #fff;
    --color-palette-gray-100: #f996c4;
    --color-palette-white: #000000;
}

/* general sets */ 
html, body {
    /*background: #554FF0 url(images/mobile-bg@2x.png) top left;
    background-size: 100% auto;*/
    font-family: 'David', sans-serif;
    line-height: 1.75;}
    @media (min-width: 768px) {
        html, body {
            cursor: url(content/cursor.png) 70 40, auto; } }

/* main */
main > div.max-w-7xl.mx-auto.pb-12.px-4 {
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: none !important;}

/* enleve tout les radius */
div.rounded-lg {
    border-radius: 0rem;}

nav.bg-gray-800 > div.max-w-7xl {
    max-width: none;
    padding: 0rem 0rem;}

/* header */
nav.bg-gray-800 {
    background: #000000;
    color : #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;}
    @media (min-width: 1024px) {
        nav.bg-gray-800 {
            padding: 0.4rem 0rem; } }
    /* links in header (but login) */
    nav.bg-gray-800 a {
        color: #f996c4;
        background: transparent;
        font-size: 1rem;}
        nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
            color: #ffffff !important;
            background: transparent;}
        nav.bg-gray-800 .items-baseline > a {
            color: #fff;
            background: transparent;
            font-size: 1.8rem;
            text-transform: uppercase;}
            nav.bg-gray-800 .items-baseline > a:hover, nav.bg-gray-800 .items-baseline > a:active, nav.bg-gray-800 .items-baseline > a:focus {
                color: #f996c4 !important;
                background: transparent;}
        /* links from sidebar*/
        nav.bg-gray-800 a.block {
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-size: 1.4rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
            line-height: 1.25;}
            nav.bg-gray-800 a:hover, nav.bg-gray-800 a:active, nav.bg-gray-800 a:focus {
                color: #f996c4;
                background: transparent;}
            @media (max-width: 640px) {
                nav.bg-gray-800 a.block {
                    font-size: 1.2rem; } }
    /* header logo */
    nav.bg-gray-800 .eventive__logo-container__logo {
        width: auto !important;
        height: 75px !important;
        max-width: none !important;
        max-height: none !important;}
        @media (min-width: 1024px) {
            nav.bg-gray-800 .eventive__logo-container__logo {
                max-width: none !important;
                display: none; } }

/* header logo without padding left */
    nav div.flex.items-center.justify-between.h-16.px-4 {
        padding-left: 0px;
        padding-right: 0px;}

/* login button */
    nav.bg-gray-800 button {
        background: #000000;
        color: #ffffff;
        border-radius: 0;
        margin-right: 0.5rem;
        text-transform: uppercase;
        font-weight: normal  !important;
        font-style: normal;
        line-height: 1 !important;
        font-size: 1.8rem;
        padding: 1rem 1rem;
        border: 0px solid #fff;
        border-radius: 0rem !important; }
        nav.bg-gray-800 button:hover {
            background-color: #fff;
            color: #000;
            border-color: #fff;}
    nav.bg-gray-800 button.text-gray-400 {
        border: none;
        color: #f996c4; 
        background: transparent; }
        nav.bg-gray-800 button.text-gray-400:hover {
            border: none;
            color: #ffffff;
            background: transparent; }

/* logged button */
    nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full {
        background: transparent;
        border: none !important; }
        nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:hover, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:focus, nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full:active {
            box-shadow: none !important; }
        nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span {
            background: #f996c4;
            width: 50px;
            height: 50px;}
            nav.bg-gray-800 button.max-w-xs.flex.items-center.text-sm.rounded-full > span > span {
                color: #000; 
                font-size: 28px;
                font-family: 'Estrella', sans-serif; }
        nav.bg-gray-800 div.flex-shrink-0 > span {
            background: #f996c4;
            width: 50px;
            height: 50px;}
            nav.bg-gray-800 div.flex-shrink-0 > span > span {
                color: #000; 
                font-size: 28px;
                font-family: 'Estrella', sans-serif; }

    nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white {
        background: #000;
        border-radius: 0; }
        nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-500 {
            color: #f996c4; }
        nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white .text-always-gray-400 {
            color: #f996c4; }
        nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a {
            font-size: 1rem; }
            nav.bg-gray-800 .origin-top-right .rounded-md.bg-always-white a:hover {
                color: #f996c4 !important; }

/* bouton standard */
.eventive__button {
    border: 2px solid #f996c4;
    border-radius: 0rem !important;
    font-size: 1rem;
    padding: 1rem 1rem;
    font-weight: normal  !important;
    font-style: normal;
    line-height: 1 !important;
    text-transform: uppercase !important; }
    @media (min-width: 768px) {
            .eventive__button {
                font-size: 1.2rem; } }
    .eventive__button:focus {
        box-shadow: none; }
    .eventive__button svg {
        display: none; }
    .eventive__button.bg-indigo-600, .resp-sharing-button__group .resp-sharing-button--copy,
    .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button {
        background: #000;
        color: #f996c4; }
        .eventive__button.bg-indigo-600:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover,
        .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button:hover {
            background: #f996c4;
            color: #000; }
        .eventive__button.bg-indigo-600:focus, .resp-sharing-button__group .resp-sharing-button--copy:focus,
        .resp-sharing-button__group .react-add-to-calendar .resp-sharing-button:focus {
            border-color: #555961; }
    /* bouton petit ? def ou*/
    .eventive__button.bg-reverse, .resp-sharing-button__group .resp-sharing-button--copy, .eventive__button.bg-indigo-400, .eventive__button[type=submit] {
        background: #000;
        color: #fff;
        border-color: #fff;
        padding: 0.5rem 0.5rem; }
        .eventive__button.bg-reverse:hover, .resp-sharing-button__group .resp-sharing-button--copy:hover, .eventive__button.bg-indigo-400:hover, .eventive__button[type=submit]:hover {
            background: #fff;
            color: #000;
            border-color: #000;
            padding: 0.5rem 0.5rem; }
    .eventive__button.eventive__button__disabled, .eventive__button.eventive__button__disabled:hover {
        background: #969999;
        color: #e8e9ec;
        border-color: #fff; }

/* header img */
header {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;}
    header div {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        max-width: none !important;}

/* header descr */
body div.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 {
    border-radius: 0rem;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
    margin-bottom: 0rem !important;
    border-top: 2px solid #fff;}
    @media (min-width: 1024px) {
            body div.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 {
                padding: 1.5rem 0rem 1.5rem 0rem; } }
    body div.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 > div {
        font-size: 0.9rem;
        color: #fff;}
        @media (min-width: 768px) {
            body div.text-gray-100.text-center.bg-gray-700.p-4.rounded-lg.mb-8 > div {
                font-size: 1.2rem; } }

/* grande boite main */
main > div.max-w-7xl.mx-auto.pb-12 {
    padding-bottom: 0rem;}

/* titles of display sections */
h2.group {
    text-transform: uppercase;
    padding: 1rem 1rem;
    margin: 0rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;}
    @media (min-width: 768px) {
            h2.group {
                padding-left: 2rem !important;
                padding-right: 2rem !important; } }
    @media (min-width: 900px) {
            h2.group{
                padding-top: 1.5rem !important;
                padding-bottom: 1.5rem !important;
                font-size: 2rem; } }

/* slick sliders*/
.slick-slider {
    margin: 0rem;}

.slick-list {
    width: 100% !important;}

/*.slick-track {
    width: 100% !important;}*/

/*.slick-slide {
    min-width: 50% !important;
}
    @media (min-width: 768px) {
            .slick-slide {
                min-width: 33.33333% !important; } }
        @media (min-width: 900px) {
            .slick-slide {
                min-width: 25% !important; } }*/

/* formatage des images films */
main div.relative.bg-gray-700.rounded-md.overflow-hidden.mt-4 {
    margin-top: 0rem !important;
    border-radius: 0 ;}
main div.slick-track img {
    border-radius: 0;}

.slick-slide div > div.group.p-2 {
    padding: 0rem;}

/* slick slide for default display
.slick-slide a > div.h-40 {
    height: 100% !important;
    padding-bottom: 40%;}*/

/* poster display */
.slick-slide a > div.w-40 {
    height: 100%;
    width: 100%;
    background-color: #f996c4;}

.slick-slide a > div.w-40:hover {
    border-radius: 0;}
.slick-slide a > div.w-40:hover img {
    filter: blur(5px);
    mix-blend-mode: multiply;
    overflow: visible !important;}

/* text inside film display box */
.relative.px-4.py-5 > h2.text-white {
    color: #fff !important;
    /*font-family: 'Estrella',sans-serif;*/
    font-size: 1.6rem;
    text-transform: uppercase;}
    @media (min-width: 768px) {
            .relative.px-4.py-5 > h2.text-white {
                font-size: 2rem; } }
/* arrows */
.slick-slider svg{
    color: #000;}
    .slick-slider svg:hover{
        color: #f996c4;}

/* footer png box */
body div.max-w-7xl.mx-auto.py-6.px-4 {
    background-color: #000 !important;
    max-width: none !important;}
    div.max-w-7xl.mx-auto.py-6.px-4 img {
        max-width: none !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;}
/* eventive footer */
footer {
    background: #000;}
    footer div {
        color: #ffffff !important;}
    footer a {
        font-weight: lighter;
        color: #fff;}

/*                  film page                  */

/* boite à droite choix films */
/* background color used case*/
.scrollbarred .block.shadow.shadow-outline-gray {
    background: yellow;
    padding: 0;
    border-radius: 0; }
    .scrollbarred .block.shadow.shadow-outline-gray .inline-flex.rounded-full.text-red-800.bg-red-100 {
        background: transparent;
        padding: 0;
        border-radius: 0;
        color: mediumblue;
        font-weight: normal;
        border-bottom: 2px solid orangered; }
.scrollbarred > a {
    border: 5px solid forestgreen;
    border-radius: 3rem !important;
    background: rebeccapurple;
    font-family: "Estrella", sans-serif !important;
    font-weight: normal  !important;
    font-style: normal;
    line-height: 1 !important;
    font-size: 2rem;
    box-shadow: none !important; }
.scrollbarred .text-sm {
    font-family: "David", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: hotpink; !important; }


/* spacebar in search */
/*favicon*/
/* rem to px */
/* slide case width ? how does it fcking work. */
